MONGODB_URI=mongodb://localhost:27017/jianghu-bot
DISCORD_TOKEN=GANTI_DENGAN_TOKEN_BOT
DISCORD_CLIENT_ID=GANTI_DENGAN_CLIENT_ID
DISCORD_CLIENT_SECRET=GANTI_DENGAN_CLIENT_SECRET
JWT_SECRET=super_secret_jwt_key
API_PORT=3001
